<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-lg-6">  
      <p>
        <strong>Name:</strong>
        <%= @project.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @project.description %>
      </p>

      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>
      </div>
    </div>
</div>